<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CoreJavaVolume1Chapter12/src/pair1/PairTest1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pair1.PairTest1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CoreJavaVolume1Chapter12"/>
</launchConfiguration>
