<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CoreJavaVolume2Chapter4/src/mysqlTest/TestDB.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mysqlTest.TestDB"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="Authors.sql Books.sql BooksAuthors.sql Publishers.sql"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CoreJavaVolume2Chapter4"/>
</launchConfiguration>
